<hr>


<div class="container">
    <h1 class="text-centre">LIST OF FACTORIES</h1>
    <hr>
    
    <table>
        <tr>
            <th>Factory ID</th>
            <th>Factory Name</th>
            <th>Location</th>
        </tr>
          <tr>
              <td>1</td>
              <td><a (click)="productdetails('oneplus','andhra pradesh')"> ONEPLUS </a></td>
              <td>Andhra pradesh</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a (click)="productdetails('Samsung','Delhi')"> SAMSUNG </a></td>
            <td>Delhi</td>
           </tr>
          <tr>
      <td>3</td>
      <td><a  (click)="productdetails('oppo','chennai')"> OPPO </a></td>
      <td>Chennai</td>
    </tr>
    <tr>
      <td>4</td>
      <td><a (click)="productdetails('realme','banglore')"> REALME </a></td>
      <td>Banglore</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a (click)="productdetails('blackberry','hyderabad')"> BLACKBERRY </a></td>
        <td>Hyderabad</td>
      </tr>
      <tr>
        <td>6</td>
        <td><a (click)="productdetails('redmi','mumbai')"> REDMI </a></td>
        <td>mumbai</td>
      </tr>
    
    </table>
    </div>
