<div class="bgDiv">
    <h1>Edit product</h1>
    <label  for="productName"><b>ProductName </b></label>
    <input type="text" id="productName" name="name of Product"size="30"><br>
    <label id="quan" for="Quantity"><b>Quantity </b></label>
    <input type="text" id="Quantity" name="About Quantity"size="30">
    <div id="desc">
    <label id="des" for="Description"><b>Description </b></label>
    <input type="text" id="Description" name=" Product Description"size="30"><br>
    </div>
    <div id="image">
        <div id="img">

            <label>Product Image</label><input type="file" name="img" accept="img/*">

    </div>
    </div>
    </div>