
<body>
    <h1>Product 1</h1>
    <label  for="productName"><b>ProductName </b></label>
    <input type="text" id="productName" name="name of Product"size="30" [(ngModel)]="name"><br>
    <label id="quan" for="Quantity"><b>Quantity </b></label>
    <input type="text" id="Quantity" name="About Quantity"size="30" [(ngModel)]="quantity">
    <div id="desc">
    <label id="des" for="Description"><b>Description </b></label>
    <input type="text" id="Description" name=" Product Description"size="30"><br>
    </div>
    <div>
        <h2>Download Image<a href="img"><span class="material-icons">
            file_download
            </span></a></h2>
    </div>
    </body>